{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">

    <link rel="stylesheet/less" href="{% static "format" %}">
    <script type="text/javascript" src="{% static "less.js" %}"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="centercol">
    <h2>The red boxes may not vary, but the green boxes can</h2>
    <img src="static/format1.jpg">
    <h2>If only 1 date or zone is supplied the software assumes all the data has that date/zone value</h2>
    <img src="static/format2.jpg">
    <h2>Please make sure there is numbers/letters below the columns as this will cause an error</h2>
    <img src="static/format3.jpg">
</div>
</body>
</html>